

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/*nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: #5abdd2;
	font-family: 'Roboto', sans-serif;

}

.logo{
	color: black;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;
}


.nav-links{
	display: flex;
	justify-content: space-around;
	width: 35%;
}

.nav-links li{
	list-style: none;
}

.nav-links a{
	color: black;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
}


.burger{
	display: none;
	cursor: pointer;
}

.burger div{
	width: 25px;
	height: 3px;
	background-color: black;
	margin: 5px;
}*/

body {
	background-color: #1b4297;
}

header {
	background-color: white;
	padding: 20px;
}

.dcmc_logo {
	text-align: center;
	padding: 0px;
}

#welcome-message {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 50px;
	font-size: 30px;
	font-family: sans-serif;
	color: white;
}

#purpose-message {
	text-align: center;
	font-size: 15px;
	margin-bottom: 50px;
	font-family: sans-serif;
	color: white;
}



/* need to figure out a way to keep nav links evenely spaced when making screen smaller */

@media screen and (max-width: 1024px){
	.nav-links{
		width: 40%;
	}
}

@media screen and (max-width: 768px){
	body{
		overflow-x: hidden;
	}
	.nav-links{
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 8vh;
		background-color: #5abdd2;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}
	.nav-links li{
		opacity: 0;
	}
	.burger{
		display: block;
	}
}


.nav-active{
	transform: translateX(0%);

}

@keyframes navLinkFade{
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}